
  <div class="container">
    <h1>Product List</h1>
    <h2>{{deleteMessage}}</h2>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <td><img class="product-image" src="{{product.image}}" alt="Product 1"></td>
          <td class="product-name">{{product.name}}</td>
          <td class="product-price">${{product.price}}</td>
          <td class="product-category">{{product.category}}</td>
          <td class="product-description">{{product.description}}</td>
          <td><fa-icon [icon]="deleteIcon" (click)="deleteProduct(product.id)" ></fa-icon>
              <fa-icon [icon]="editIcon" routerLink="/SellerUpdateProduct/{{product.id}}" class="editIcon"></fa-icon></td>
          
        </tr>
      </tbody>
    </table>
  </div>




